<div class="form-group m-2">
  <label>Name:</label>
  <input class="form-control" [value]="model.getProduct(1)?.name || 'None'" />
</div>

<!-- The new binding in this example specifies that the value property should be bound to the result of an
expression that calls a method on the data model to retrieve a data object from the repository by specifying
a key. It is possible that there is no data object with that key, in which case the repository method will
return null.
To guard against using null for the host element’s value property, the binding uses the template null
conditional operator (the ? character) to safely navigate the result returned by the method -->

<table class="table table-sm table-bordered table-striped mt-2">
  <tr>
    <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
  </tr>
  <tr>
    <td [attr.colspan]="model.getProducts().length">
      {{model.getProduct(1)?.name || 'None'}}
    </td>
  </tr>
</table>


<div class="text-white m-2">
  <div [class]="getClasses(1)">
    The first product is {{model.getProduct(1).name}}.
  </div>
  <div [class]="getClasses(2)">
    The second product is {{model.getProduct(2).name}}
  </div>
</div>

<div class="text-white m-2">
  <div [class]="getClasses(1)">
    The first product is {{model.getProduct(1).name}}.
  </div>
  <div class="p-2"
       [class.bg-success]="model.getProduct(2).price < 50"
       [class.bg-info]="model.getProduct(2).price >= 50">
    The second product is {{model.getProduct(2).name}}
  </div>
</div>
