<div class="bg-info text-white m-2 p-2">
  There are {{model.getProducts().length}} products in the model
</div>

<div [ngClass]="'text-white m-2 p-2 ' + getClasses()" >
  Hello, World.
</div>

<div class="form-group m-2">
  <label>Name:</label>
  <input class="form-control" [value]="model.getProduct(1)?.name || 'None'" />
</div>
<!-- The new binding in this example specifies that the value property should be bound to the result of an
expression that calls a method on the data model to retrieve a data object from the repository by specifying
a key. It is possible that there is no data object with that key, in which case the repository method will
return null.
To guard against using null for the host element’s value property, the binding uses the template null
conditional operator (the ? character) to safely navigate the result returned by the method -->
